# Languages

# Java
*.java @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz @DDavid223

# Python
*.py @RafaelPiloto10 @brendacano @MimiOlayeye @oreorz @DDavid223

# Golang
*.go @RafaelPiloto10

# JavaScript
*.js @RafaelPiloto10 @brendacano @Foxworth22

# Markdown
*.md @RafaelPiloto10

# TypeScript
*.ts @brendacano

# C#
*.cs @brendacano

# HTML
*.html @RafaelPiloto10 @brendacano

# C
*.c @MimiOlayeye

# Swift
*.Swift @DDavid223
